@model WebBanHang.Models.HoaDon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tentaikhoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tentaikhoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngaymua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaymua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diachigiaohang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diachigiaohang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sdtgiaohang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sdtgiaohang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tongtien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tongtien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trangthai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trangthai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
